<footer class="blog-footer">
    <p>Blog Website by <a href="https://github.com/anurag-dub3y">Anurag Dubey</a>.</p>
    <p>
      <a href="/home">Back to top</a>
    </p>
</footer>

</body>
</html>